@using UserManagementReact.Shared
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using UserManagementReact.Helpers

@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
	var requestCulture = Context.Features.Get<IRequestCultureFeature>();
	var cultureItems = Cultures.CulturePairs
		.Select(c => new SelectListItem { Value = c.Code, Text = c.LocalName })
		.ToList();

	var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
<form id="selectLanguage" asp-area="" asp-controller="Config"
		asp-action="SetLanguage" asp-route-returnUrl="@returnUrl"
		method="post" class="form-inline my-2 my-lg-2">
		@SharedLocalizer["Language"]:
	<select name="culture" onchange="this.form.submit();" class="form-control"
			asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems">
	</select>
</form>